body{
    background-color: rgb(245, 252, 243);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 2.25em;
}
img{
    width:300px;
    float:left;
    border: solid 3px black;
    border-radius: 9px;
    margin-right: 30px;
}
